.Player-Container{
  display: flex;
}
.Player{
  width: 70%;
  margin-right: 5px;
  margin-left: 20px;
  border-right: 1px solid lightgray;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
